<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>libstatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11000000650344B25E51AA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65670B021B637E200023BD36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657F6FCD1B87DCD0000A571E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657F6FD51B87DCE7000A571E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
